@charset "utf-8";

#report {
  .row {
    margin: auto 10em !important;
    div {
      padding: 0 !important;
      margin: 0 !important;
    }

    .col-md-12 {
      padding: 0;
      margin: 0;
    }
    .col-md-10 {
      font-size: 1.2em !important;
      line-height: 1.5;
      margin-top: 1.5em;
    }
    #table_title2 {
      border-bottom: 3px solid #C11000;
    }
  }
  h1 {
    color: #c11000;
  }
  h2 {
    line-height: 68px;
  }
}

.report_content {
  .report_table {
    width: 100%;
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  #report {
    .row {
      margin: 0 !important;
    }
  }
  #table {
    td {
      h4, input {
        font-size: 0.8em !important;
      }
    }
  }
  #table .col-md-12 div td {
    padding-right: 6px !important;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 11px
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 12px
  }
}

@media screen and (min-width: 415px) and (max-width: 639px) {
  html {
    font-size: 15px
  }
}

@media screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 20px
  }
}

@media screen and (min-width: 720px) and (max-width: 749px) {
  html {
    font-size: 22.5px
  }
}

@media screen and (min-width: 750px) and (max-width: 799px) {
  html {
    font-size: 23.5px
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 16px
  }
}

.btn-margin {
  margin: 0.2em !important;
}
