@charset "utf-8";

#report {
  .row {
    div {
      padding: 0 !important;
      margin: 0!important;
    }
    margin: auto 188px !important;
    .col-md-12 {
      padding: 0;
      margin: 0;
    }
    .col-md-10 {
      font-size: 1.2em !important;
      line-height: 1.5;
      margin-top: 20px;
    }
    #table_title2 {
      border-bottom: 3px solid #C11000;
    }
  }
  h1 {
    color: #c11000;
  }
  h2{
    line-height: 68px;
  }
}

.report_content{

  .report_table{
  width: 100%;
      margin-bottom: 38px;
  }
}