@charset "utf-8";
@import "var";
@import "style_expand";

#table {
  .col-md-12 {
    div {
      padding: $block_padding;
      background: white;
      td {
        padding-right: 20px;
      }
      #info_identity {
        border-bottom: 3px solid $main_bg_grey;
      }
    }
  }
  h2 {
    font-size: 24px;
    line-height: 0;
    padding: 0;
  }
  h3 {
    font-size: 18.72px;
    padding: 0;
    margin: 0;
  }
  h4 {
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  #report {
    .row {
      margin: 0 auto !important;
    }
  }
  #table {
    div {
      td {
        h4 {
          font-size: 0.8em !important;
        }
      }
    }
  }
}

#table_title {
  padding: 0;
  @include border_bottom_red_md;
  margin-bottom: 28px;
}

#table_title2 {
  padding: 0;
  @include border_bottom_red_md;
  margin-bottom: 28px;
}
